<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Bootstrap CRUD Data Table for Database with Modal Form</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="{% static 'tab.css' %}" rel="stylesheet" />
  
  <body>
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
						<h2>Manage <b>Student</b></h2>
					</div>
					{% comment %} <div class="col-sm-6">
						<a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Add New Employee</span></a>
						<a href="#deleteEmployeeModal" class="btn btn-danger" data-toggle="modal"><i class="material-icons">&#xE15C;</i> <span>Delete</span></a>						
					</div> {% endcomment %}
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>First Name</th>
                        <th>Last Name</th>
						{% comment %} <th>DateOfBirth</th> {% endcomment %}
						<th>Email</th>
                        <th>Phone</th>
                        <th>Subject</th>
                        <th>Delete</th>
                        <th>Update</th>


                    </tr>
                </thead>
                <tbody>
                    {% for i in stu %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{i.fname}}</td>
                        <td>{{i.lname}}</td>
                        {% comment %} <td>{{i.password}}</td> {% endcomment %}
                        <td>{{i.email}}</td>
                        <td>{{i.phone}}</td>
                        <td>{{i.subject}}</td>
                        <td><button><a href="{% url 'delete' i.id %} " />Delete</button>
                        <td>
                            <a href="#editEmployeeModal-{{forloop.counter}}" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
			
        </div>
    </div>
	<!-- Add Modal HTML -->
	{% comment %} <div id="addEmployeeModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form action={% url 'add' %} method='post'>
                    {% csrf_token %}
					<div class="modal-header">						
						<h4 class="modal-title">Add Employee</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">					
						<div class="form-group">
							<label>Name</label>
							<input name='name' type="text" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Email</label>
							<input name='email' type="email" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Address</label>
							<textarea name='address' class="form-control" required></textarea>
						</div>
						<div class="form-group">
							<label>Phone</label>
							<input name='phone' type="text" class="form-control" required>
						</div>					
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
						<input type="submit" class="btn btn-success" value="Add">
					</div>
				</form>
			</div>
		</div>
	</div> {% endcomment %}
	<!-- Edit Modal HTML -->
    {% for i in stu %}
	<div id="editEmployeeModal-{{forloop.counter}}" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form action="/update/" method='post'>
                    {% csrf_token %}
					<div class="modal-header">						
						<h4 class="modal-title">Edit Student</h4>
						<button  type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">
                        <input type="hidden" name="uid" value="{{i.id}}">					
						<div class="form-group">
							<label>First Name</label>
							<input name='fname' value={{i.fname}} type="text" class="form-control" required>
						</div>
                        <div class="form-group">
							<label>Last Name</label>
							<input name='lname' value={{i.lname}} type="text" class="form-control" required>
						</div>
                        {% comment %} <div class="form-group">
							<label>Date Of Birth</label>
							<input name='dob' value={{i.dob}} type="date" class="form-control" required>
						</div> {% endcomment %}
						<div class="form-group">
							<label>Email</label>
							<input name='email' value={{i.email}}  type="email" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Phone</label>
							<input name='phone' value={{i.phone}}  type="number" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Subject</label>
							<input name='subject'  value={{i.subject}} type="text" class="form-control" required>
						</div>					
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
						<input type="submit" class="btn btn-info" value="Update">
					</div>
				</form>
			</div>
		</div>
	</div>
    {% endfor %}
	<!-- Delete Modal HTML -->
    {% comment %} {% for i in emp %}
	<div id="deleteEmployeeModal-{{forloop.counter}}" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form action='delete'>
                    {% csrf_token %}
					<div class="modal-header">						
						<h4 class="modal-title">Delete Employee</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">					
						<p>Are you sure you want to delete these Records?</p>
						<p class="text-warning"><small>{{i.name}} Are You Seriously Want To Delete</small></p>
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
						<a href='delete?id={{i.id}}'  class="btn btn-danger" >Delete</a>
					</div>
				</form>
			</div>
		</div>
	</div>
    {% endfor %}
     {% endcomment %}
</body>
<script>
    $(document).ready(function(){
	// Activate tooltip
	$('[data-toggle="tooltip"]').tooltip();
	
	// Select/Deselect checkboxes
	var checkbox = $('table tbody input[type="checkbox"]');
	$("#selectAll").click(function(){
		if(this.checked){
			checkbox.each(function(){
				this.checked = true;                        
			});
		} else{
			checkbox.each(function(){
				this.checked = false;                        
			});
		} 
	});
	checkbox.click(function(){
		if(!this.checked){
			$("#selectAll").prop("checked", false);
		}
	});
});
</script>

</html>